Esta aplicación usa motores también desarrollados por Pasos de Jesús
con licencia ISC que han sido re-factorizados
de sistemas de información de dominio público financiados por diversas
organizaciones 
(ver <a href='https://github.com/pasosdeJesus/sivel2/blob/main/CREDITOS.md'>algunas</a>):

<ul>
  <li> <a href="https://github.com/pasosdeJesus/sip">sip</a> 
    <ul>
      <li> <a href="https://github.com/pasosdeJesus/mr519_gen">mr519_gen</a> y
        <ul>
          <li> <a href="https://github.com/pasosdeJesus/heb412_gen/graphs/contributors">heb412_gen</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
