<table class='table table-striped'>
  <thead>
    <tr>
      <th>Candidato</th>
      <th>Promedio</th>
      <th>Desviación Estándar</th>
    </tr>
  </thead>
  <tbody>
    <% (1..@eleccion.numcandidatos).each do |n| %>
      <tr>
        <td>
          <%= @eleccion['candidato' + n.to_s] %>:
        </td>
        <td align='right'>
          <%= promedio("c#{n}", @filtro) %>
        </td>
        <td align='right'>
          <%= desviacion("c#{n}", @filtro) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        Votos en Blanco
      </td>
      <td align='right'>
        <%= promedio("blanco", @filtro) %>
      </td>
      <td align='right'>
        <%= desviacion("blanco", @filtro) %>
      </td>
    </tr>
    <tr>
      <td>
        Votos no marcados
      </td>
      <td align='right'>
        <%= promedio("nomarcados", @filtro) %>
      </td>
      <td align='right'>
        <%= desviacion("nomarcados", @filtro) %>
      </td>
    </tr>
    <tr>
      <td>
        Votos nulos 
      </td>
      <td align='right'>
        <%= promedio("nulos", @filtro) %>
      </td>
      <td align='right'>
        <%= desviacion("nulos", @filtro) %>
      </td>
    </tr>
  </tbody>
</table>

