<div class='row'>
  <div class='col-12' align='center'>
    Totales tabulados por mesa para <%= @eleccion.nombre %>
  </div>
</div>
<div class='row'>
  <div class='col-6' align='center'>
    Departamento: <%= @departamento.nombre %>
  </div>
  <div class='col-6' align='center'>
    Municipio <%= @municipio.nombre %>
  </div>
</div>
<div class='row'>
  <div class='col-4' align='center'>
    Zona <%= @zona.zona %>
  </div>
  <div class='col-4' align='center'>
    Puesto <%= @puesto.puesto %>
  </div>
  <div class='col-4' align='center'>
    Mesa <%= @mesa.mesa %>
  </div>
</div>

<% @filtro = {
  mesa:@mesa.id,
  puesto: @puesto.id,
  zona: @zona.id,
  municipio_id: @municipio.id 
} %>
<%= render partial: 'tabla_resultados' %>

<div class='ressuperitem'>
  <%= link_to('Puesto de esta mesa', elecciones_puesto_path(
    puesto: @puesto.puesto)) %>
</div>
