<div class='row'>
  <div class='col-12' align='center'>
    Totales tabulados por zona para <%= @eleccion.nombre %>
  </div>
</div>
<div class='row'>
  <div class='col-6' align='center'>
    Departamento: <%= @departamento.nombre %>
  </div>
  <div class='col-6' align='center'>
    Municipio <%= @municipio.nombre %>
  </div>
</div>
<div class='row'>
  <div class='col-4' align='center'>
    Zona <%= @zona.zona %>
  </div>
</div>

<% @filtro = {
  zona: @zona.id,
  municipio_id: @municipio.id 
} %>
<%= render partial: 'tabla_resultados' %>


<% Puesto.where(zona_id: @zona.id).each do |p| %>
  <div class='ressubitem'>
    <%= link_to("Puesto #{p.puesto} (#{p.nompuesto})", elecciones_puesto_path(puesto: p.puesto)) %>
  </div>
<% end %>

<div class='ressuperitem'>
  <%= link_to('Municipio de esta zona', elecciones_municipal_path(munid: @municipio.codreg)) %>
</div>
