<% content_for :title do %>
    <%= Sip.titulo %>
<% end %>

<% content_for :menu do %>
  <%= grupo_menus_prosidebar do %>
    <%= opcion_menu_prosidebar "Resultados", main_app.elecciones_nacional_path(id: Rails.configuration.x.eleccion) %>
    <%= opcion_menu_prosidebar "Formularios E-14", main_app.tabulae14s_path %>
    <%= despliega_abajo_prosidebar "Datos soporte" do %>
      <%= opcion_menu_prosidebar "Elecciones", main_app.elecciones_path,
          desplegable: true %>
    <% end %>
    <%= opcion_menu_prosidebar "Acerca de", sip.acercade_path %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo_prosidebar "Administrar" do %>
        <%= opcion_menu_prosidebar "Perfil", main_app.editar_registro_usuario_path,
          desplegable: true %>
        <%= opcion_menu_prosidebar "Control de Acceso", sip.ayuda_controldeacceso_path, 
          desplegable: true %>
        <%= opcion_menu_prosidebar "Usuarios", main_app.usuarios_path,
          desplegable: true %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu_prosidebar "Tablas Básicas", sip.tablasbasicas_path,
            desplegable: true %>
        <% end %>
      <% end %>
      <%= opcion_menu_prosidebar "Salir #{current_usuario.nusuario}", 
        main_app.sign_out_path %>
    <% else %>
      <%= opcion_menu_prosidebar "Iniciar Sesión", main_app.new_usuario_session_path %> 
      <%= opcion_menu_prosidebar "Suscribirse", main_app.sign_up_path %>
    <% end %>
  <% end %>
<% end %>

<% content_for :piedepagina do %>
  <p><span class='derechos'>Sistema de información de 
    <a href='https://gitlab.com/pasosdeJesus/sal136'>código abierto</a> con 
    <a href="https://gitlab.com/pasosdeJesus/sal136/-/blob/main/LICENCIA.md">licencia ISC</a>
    <br/>
    Desarrollado por <a id='pasosdeJesus' href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2022. 
  </span></p>
<% end %>

<%= render template: "layouts/sip/application-prosidebar" %>
